body{
  font-family:Trebuchet MS;
}

.head
{
  background-color: #2b546a;
  width:932px;
  float:right;
  color:white;
  border-radius: 30px;
  margin-left:10px;
  box-shadow: 2px 2px 2px 2px black;

}
.head p
{
  text-shadow: 2px 2px 5px black ;

}
.side
{
  background-color: #2b546a;
  width:305px;
  height:1550px ;
  float:left;
  color:white;
  border-radius:30px;
  box-shadow: 2px 2px 2px 2px black;
}
.image{
  height:245px;
  widht:245px;
  margin:80px 5px 10px 50px;
  border-radius:100px;
  box-shadow: 2px 1px 1px 1px black;
}
.email
{

   widht:22px;
   height:22px;

}
.side a,td{
  text-decoration: none;
  color:white;
  text-shadow: 2px 2px 2px black;
}
.side p
{
  text-shadow: 2px 2px 2px black;
}

.main{
  margin-top:105px;
  background-color:#f9fbfe;
  float:right;
  width:928px;
  height:750px;
  display:inline-flex;
  position: absolute;
  margin-left:9px;
}

.text p
{
  margin-left:40px;
  margin-top:45px;

}
#text_head
{
  text-shadow:2px 2px 4px #2b546a;

}
hr{
  margin:40px 10px 10px 40px;
  width:850px;
  border:none;
 height: 20px;

 height: 50px;
 margin-top: 0;
 border-bottom: 1px solid #1f1209;
 box-shadow: 0 20px 20px -20px #2b546a;
 margin: -35px auto 10px;

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@font-face
{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
